---
import { Image } from "astro:assets";
import roomImage from "@assets/room.jpg";
import { ArrowUpRight } from "lucide-react";

const lineUrl = import.meta.env.PUBLIC_LINE_URL;
---

<section id="お問い合わせ" class="relative">
  <Image
    src={roomImage}
    alt="お問い合わせ"
    width={800}
    class="absolute inset-0 -z-10 h-full w-full object-cover"
  />
  <div
    class="flex flex-col items-center gap-6 bg-linear-to-b from-black/20 via-black/50 to-black px-6 py-12 text-white"
  >
    <h2 class="space-y-2 text-center font-bold italic">
      <span class="block">
        <span class="text-[40px]">マイホーム</span>
        <span class="text-[32px]">に</span>
      </span>
      <span class="block">
        <span class="text-[40px]">プラス1%</span>
        <span class="text-[32px]">の</span>
        <span class="text-[40px]">感動</span>
        <span class="text-[32px]">を</span>
      </span>
    </h2>
    <p>
      マンションの構造・規約・生活導線まで理解した専門スタッフが、あなたの住まいに合う工事だけを
      <span class="text-xl font-bold">丁寧に無料診断</span>
      します。
    </p>
    <a
      href={lineUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="button mx-auto w-fit"
      data-variant="default"
    >
      <p>LINEで簡単お問い合わせ</p>
      <div
        class="flex aspect-square h-full items-center justify-center rounded-full bg-neutral-100 p-1 text-orange-500"
      >
        <ArrowUpRight size={24} />
      </div>
    </a>
  </div>
</section>
