---
import { Check } from "lucide-react";
import { Section7Marquee } from "./_Section7Marquee";

const checkPoints: string[] = [
  "初期不具合の徹底チェック",
  "工事可否・追加費用リスクの判定",
  "最適な工事位置の提案",
  "200以上のチェック項目を\n経験豊富なプロが検査",
];
---

<section id="無料内覧会同行サービス" class="bg-orange-100 pt-4">
  <div class="space-y-6 p-6">
    <header class="space-y-2 text-center font-bold">
      <p class="text-xs">
        <span class="block">ライフタイムサポートは</span>
        <span class="block">\新築マンションの内覧会を無料で同行します！/</span>
      </p>
      <h2 class="text-2xl">
        <span class="block">ライフタイムサポートの</span>
        <span class="block">内覧会無料同行サービス</span>
      </h2>
    </header>

    <div class="space-y-1.5 font-bold">
      <p class="mx-auto w-fit bg-neutral-100">内覧会にプロが同行するだけで、</p>
      <p class="mx-auto w-fit bg-neutral-100">
        <span class="text-[32px] text-orange-500">後悔のリスク</span>
        <span class="text-2xl">は大きく</span>
      </p>
      <p class="mx-auto w-fit bg-neutral-100 text-2xl">減ります。</p>
    </div>

    <article class="space-y-6 rounded-2xl border border-orange-500 bg-neutral-100 px-4 py-6">
      <h3 class="text-center text-2xl font-bold text-orange-500">
        <span class="block">内覧会</span>
        <span class="block">無料同行サポートとは？</span>
      </h3>
      <p>
        新築マンションの内覧会にプロが同行し、不具合チェック・工事可否判断・生活導線の確認まで“住まいの品質”を総合点検する同行サービスです。
      </p>

      <ul class="text-navy-500 space-y-2 font-bold">
        {
          checkPoints.map((point) => (
            <li class="flex items-start gap-2">
              <Check
                size={12}
                strokeWidth={3}
                className="bg-navy-500 text-white rounded-full p-1 size-6"
              />
              <span class="whitespace-pre-line">{point}</span>
            </li>
          ))
        }
      </ul>

      <p class="text-center text-2xl font-bold text-orange-500">
        <span class="block">後悔のない工事計画は</span>
        <span class="block">内覧会から始まります。</span>
      </p>
    </article>
  </div>

  <Section7Marquee client:idle />

  <div class="mt-6 h-9 w-full bg-neutral-100 [clip-path:polygon(50%_0,0_100%,100%_100%)]"></div>
</section>
